CMakeFiles
Makefile
CMakeCache.txt
cmake-build-debug
cmake_install.cmake
CTestTestfile.cmake
.travis.yml
Testing
_deps
.idea
.git
Readme.md
make-android
build/
docker/
cmake_install.cmake
Makefile
.DS_Store
.cmake
.devcontainer
.dockerignore
lib/
docker.sh
bin
else
*.a
*.cbp
*.log
*.pid