CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
cmake-build-debug
CTestTestfile.cmake
CPackConfig.cmake
cmake-build-default
CPackSourceConfig.cmake
.ninja_deps
.ninja_log
build.ninja
*.cbp
*.pid
.DS_Store
.idea
*.log
Testing/
bin/
conanfile.txt
_deps
.cmake
node_modules
*.lock

*.exe
*.a
lib/
