CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
cmake_install.cmake.*
cmake-build-debug
CTestTestfile.cmake
CPackConfig.cmake
cmake-build-default
CPackSourceConfig.cmake
.vscode
.ninja_deps
.ninja_log
build.ninja
*.cbp
*.run
*.pid
.DS_Store
.idea
*.log
*.dylib
Testing/
bin/
conanfile.txt
_deps
.cmake
node_modules
*.lock

*.exe
*.a
src/log
src/bin
lib/
build/
!third_party/lib